<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>

	<!-- 		se adapta al ancho del dispositivo mobil -->
	<meta name="viewport"
		content="width=device-width, initial-scale=1, user-scalable=no" />

</h:head>

<h:body>
	<div class="ui-fluid">
		<h:form id="frmLogin">
			
<!-- 			sticky  se mantiene hasta que el usuario lo cierra -->
<!--            showDetail es el mensaje debajo del titulo del mensaje -->

			<p:growl id="msjs" showDetail="true" sticky="true" />

			<h3>
				<h:outputLabel value="Bienvenido al LOGIN"></h:outputLabel>
			</h3>

				<p:panel id="pnlLogin" header="Inicio de Sesión" style="text-align:center;">
				
						<p:graphicImage name="imgs/user.png" width="20%"> </p:graphicImage>
				
					<p:panelGrid columns="1"
						columnClasses="ui-g-12 ui-md-12,ui-g-12 ui-md-12" layout="grid"
						styleClass="ui-panelgrid-blank ui-fluid" id="pnlGridLogin">



						<p:outputLabel for="txtUsuario" value="Usuario:" style="float: left;"></p:outputLabel>
						<p:inputText id="txtUsuario" value="#{loginCon.usuario}"
							required="true" requiredMessage="El usuario es requerido"></p:inputText>

						<p:outputLabel for="txtpass" value="Contraseña:" style="float: left;"></p:outputLabel>
						<p:password id="txtpass" value="#{loginCon.password}"
							required="true" requiredMessage="La contraseña es requerida"></p:password>

						<p:outputLabel></p:outputLabel>
						<p:commandButton value="Entrar" action="#{loginCon.ingresar}"
							update="pnlGridLogin msjs"></p:commandButton>

					</p:panelGrid>
				</p:panel>
			</h:form>
	</div>
</h:body>


</html>