<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Principal</title>
	<!-- 		se adapta al ancho del dispositivo mobil -->
	<meta name="viewport"
		content="width=device-width, initial-scale=1, user-scalable=no" />
		
	<h:outputStylesheet library="css" name="styles.css"></h:outputStylesheet>
	<link type="text/css" rel="stylesheet" href="/project/faces/javax.faces.resource/theme.css?ln=primefaces-glass-x" />
</h:head>



<h:body>
      
      Bienvenido a la pantalla principal 
      <p:outputLabel value="_ #{sessionController.usuarioDTO.usuario} _"></p:outputLabel>
      <br />
      <p:commandButton value="Cerrar Sesión" action="#{sessionClosedController.cerrarSesion}" ></p:commandButton>
	<br />

<!-- 	<p:dataTable id="tbEmpleados" var="empleado" -->
<!-- 		value="#{principalController.empleados}" headerClass="headerTable" rowClasses="rowTable rowTableLine" > -->



<!-- Debe estar dentro de un form para que se hagan las busquedas y funcione bien la datatable -->
<h:form>
<p:dataTable id="tbEmpleados" var="empleado"
			paginator="true" rows="10"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}  {Exporters}"
                 currentPageReportTemplate="{startRecord}-{endRecord} de {totalRecords} registros"
                 rowsPerPageTemplate="5,10,15"
                 emptyMessage="No se encontraron registros"
                 reflow="true"
		value="#{principalController.empleados}"
		filteredValue="#{principalController.empleadosFiltrados}" >
		
		
        <f:facet name="{Exporters}">
            <div style="float:right;padding-top: 5px;">
                
 
                <h:commandLink>
                    <p:graphicImage name="imgs/csv.png" width="24"/>
                    <p:dataExporter type="csv" target="tbEmpleados" fileName="Empleados" />
                </h:commandLink>
    
            </div>
        </f:facet>

		<p:column headerText="Nombre" filterBy="#{empleado.nombre}" filterMatchMode="contains" sortBy="#{empleado.nombre}">
			<h:outputText value="#{empleado.nombre}"></h:outputText>
		</p:column>

		<p:column headerText="Primer Apellido">
			<h:outputText value="#{empleado.primerApellido}"></h:outputText>
		</p:column>

		<p:column headerText="Segundo Apellido">
			<h:outputText value="#{empleado.segundoApellido}"></h:outputText>
		</p:column>

		<p:column headerText="Puesto">
			<h:outputText value="#{empleado.puesto}"></h:outputText>
		</p:column>

		<p:column headerText="Estatus">
			<h:outputText value="HABILITADO" rendered="#{empleado.estatus}"></h:outputText>
			<h:outputText value="INHABILITADO" rendered="#{!empleado.estatus}"></h:outputText>
		</p:column>

	</p:dataTable>

</h:form>
</h:body>


</html>